[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
lazy-object-proxy = "*"
python-jose-cryptodome = "*"
wrapt = "*"
Flask = "*"
Jinja2 = "*"
Flask-Cors = "*"

[requires]
python_version = "3.7"
